* {
    margin: 0;
    padding: 0;
    
}
.header {
    background-color: #bdbdbd;
}
.searchbar {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    
}
.mainpage {
    background-color: #666666;
}
.programming-list {
 
    background-color: #666666;
}
.programming-details {
    background-color: #666666;
}
.main-banner {
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/background-1.jpg");
}
.inspiring {
    color: white;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
}
.courses {
    border-radius: 25px;
    max-height: 200px;
    min-height: 180px;
    max-width: 200px;
    min-width: 150px;
    background-clip: padding-box;
    border: 10px solid transparent;
    background-color: #bdbdbd;
    text-align: center;
    display:table-cell;
    font-family: 'Poppins', sans-serif;
    display: block;
}
.courses h2 {
    vertical-align: middle;
    font-size: 150%;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.courses:hover {
    background-color: #eeeeee;
}
.course-info {
    font-family: 'Poppins', sans-serif;
}
.upcoming-courses {
    min-height: 150px;
    max-width: 200px;
    min-width: 200px;
    background-color: #bdbdbd;
    background-clip: padding-box;
    border: 10px solid transparent;
    font-family: 'Poppins', sans-serif;
}
.courses:hover {
    color: rgb(255, 255, 255);
}
.news-article {
    min-height: 100px;
    font-family: 'Poppins', sans-serif;
    min-width: 300px;
    padding: 20px;
    background-color: #bdbdbd;
    margin-bottom: 100px;
    
    
    
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9c9999;
    color: black;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    border-style: solid;
    border: 10px black;

}
.proinfo {
    display: inline;
    min-height: 200px;
    max-width: 200px;
    min-width: 100px;
    background-color: #bdbdbd;
    text-align: center;
    background-color: #bdbdbd;
    background-clip: padding-box;
    border: 10px solid transparent;
    font-family: 'Poppins', sans-serif;
        border-radius: 25px;
   
    
}
.proinfo img {
    float: left;
}
.page-end {
    margin-bottom: 200px;
}
.course-description {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    
}
.info1 {
    background-image: url(img/t_grunnur-c-.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    
}
.info2 {
    background-image: url(img/t_forritunarbraut-ny-namsleid.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}
.cimg {
    background-color: #bdbdbd;
    background-clip: padding-box;
    border: 10px solid transparent;
    height: 200px;
   
    

}
.tab-pane {
    background-color: #bdbdbd;
}
.searchbar {
    right: 0;
    position: absolute;
 
}
.pagetitle {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 500%;
}
.smallertitles {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.course-tabs p {
    font-family: 'Poppins', sans-serif;
}
.course-tabs h2 {
    font-family: 'Poppins', sans-serif;
}
.course-tabs h3 {
    font-family: 'Poppins', sans-serif;
}
html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
.empty-space {
    height: 530px;
    color: transparent;
}
